*{
    margin: 0;
    padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Orbitron', monospace;
}

#username{
    padding: 10px;
}

nav{
    color: white;
    backdrop-filter: blur(8px);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    position: sticky;
    
}

:root {
  --bg-color: #0A0A0A;
  --text-color: #EFFFFA;
  --neon-blue: #00FFFF;
  --neon-blue-hover: #00BFFF;
  --muted-text: #888;
  --accent-pink: #FF0080;
}

nav #username {
  color: var(--neon-blue);
  font-size: 2rem;
  text-shadow: 0 0 10px var(--neon-blue);
}

nav a {
  color: var(--neon-blue);
  transition: 0.3s ease;
  text-decoration: none;
}

nav a:hover {
  color: var(--text-color);
  
}

.line{
    position: relative;
    display: inline-block;
}

.line::after{
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom:-5px;  
    background-color: var(--neon-blue-hover);
    box-shadow: 0 10px 10px var(--neon-blue-hover);
    transition: width 0.4s ease;
    transform: translateX(-50%);
    transform-origin: center;
}

.line:hover::after{
    width: 100%;
    left: 50%;
}

nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    padding: 1rem 0;
    justify-content: center;
    font-size: 2rem;
}

.version-tag {
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
  font-family: 'Fira Code', monospace;
  color: var(--muted-text);
  opacity: 0.7;
}
@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
#blink{
    animation: blink 1.1s infinite steps(2, start); 
    text-shadow: 0 0 10px var(--neon-blue);
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Lower than content */
  background: #000000; /* Or any background color/image */
}
/* Fix z-index value for #particles-js */
#content {
  position: relative;
  z-index: 20; /* Ensure content is above particles */
  padding: 20px;
}